/.github/scripts/__pycache__
/.pi/sessions
/.pi-subagents/artifacts
/docs/__pycache__
/docs/_build/html
/src/my_g4public_orm/__pycache__
/src/my_g4public_orm/core/__pycache__
/src/my_g4public_orm/models/__pycache__
/src/my_g4public_orm/models/association/__pycache__
/src/my_g4public_orm/models/core/__pycache__
/src/my_g4public_orm/models/reference/__pycache__
/src/my_g4public_orm/repositories/__pycache__
/tests/__pycache__
/tests/integration/__pycache__
/tests/unit/__pycache__
/tests/unit/models/association/__pycache__
/tests/unit/models/core/__pycache__
/tests/unit/models/reference/__pycache__
/tests/unit/repositories/__pycache__
